//                             _
//                           .' `'.__
//                          /      \ `'"-,
//         .-''''--...__..-/ .     |      \
//       .'               ; :'     '.  a   |
//      /                 | :.       \     =\
//     ;                   \':.      /  ,-.__;.-;`
//    /|     .              '--._   /-.7`._..-;`     THIS FILE WILL BE OVERWRITTEN BY MS-TEMPLATE.
//   ; |       '                |`-'      \  =|      PLEASE EDIT THERE IF YOU WISH TO MAKE CHANGES.
//   |/\        .   -' /     /  ;         |  =/
//   (( ;.       ,_  .:|     | /     /\   | =|
//    ) / `\     | `""`;     / |    | /   / =/
//      | ::|    |      \    \ \    \ `--' =/
//     /  '/\    /       )    |/     `-...-`
//    /    | |  `\    /-'    /;
//    \  ,,/ |    \   D    .'  \
//     `""`   \  nnh  D_.-'L__nnh

.tooltip {
    z-index: 10000;
    display: block !important;

    .tooltip-inner {
        padding: 5px 10px 4px;
        background: lighten(opacify($transparent-black, 0.4), 25%);
        border-radius: 0.5rem;
        color: white;
    }

    .tooltip-arrow {
        position: absolute;
        z-index: 1;
        width: 0;
        height: 0;
        margin: 5px;
        border-color: lighten(opacify($transparent-black, 0.4), 25%);
        border-style: solid;
    }

    &[x-placement^="top"] {
        top: -5px !important;
        margin-bottom: 5px;

        .tooltip-arrow {
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
            border-bottom-color: transparent !important;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-width: 5px 5px 0;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: 5px;

        .tooltip-arrow {
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            border-width: 0 5px 5px;
        }
    }

    &[x-placement^="right"] {
        margin-left: 5px;

        .tooltip-arrow {
            top: calc(50% - 5px);
            left: -5px;
            margin-right: 0;
            margin-left: 0;
            border-bottom-color: transparent !important;
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-width: 5px 5px 5px 0;
        }
    }

    &[x-placement^="left"] {
        margin-right: 5px;

        .tooltip-arrow {
            top: calc(50% - 5px);
            right: -5px;
            margin-right: 0;
            margin-left: 0;
            border-bottom-color: transparent !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            border-width: 5px 0 5px 5px;
        }
    }

    &[x-placement^="top-start"] {
        .tooltip-arrow {
            left: 25px !important;
        }
    }

    &[x-placement^="bottom-start"] {
        .tooltip-arrow {
            left: 25px !important;
        }
    }

    &[aria-hidden='true'] {
        opacity: 0;
        transition: opacity 0.15s, visibility 0.15s;
        visibility: hidden;
    }

    &[aria-hidden='false'] {
        opacity: 1;
        transition: opacity 0.15s;
        visibility: visible;
    }
}
